#selectionBar.paper-tabs {
  background-color: #0f97f9; }

paper-tab #ink.paper-tab {
  color: rgba(255, 255, 255, 0.32); }

paper-tab.iron-selected {
  color: #0f97f9; }

.demo {
  padding: 8px; }
  .demo .highlight {
    color: #0f97f9; }

.paper-font-title {
  color: #89a1bd;
  margin-bottom: 3px; }
