body {
  background: #223346;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #627690;
}

.container {

  .demo {
    padding: 8px;
    margin: 0 auto;

    .highlight {
      color: #0f97f9;
    }
  }

  .paper-font-title {
    color: #89a1bd;
    margin-bottom: 3px;
  }

	paper-tab #ink.paper-tab {
    color: rgba(255, 255, 255, 0.32);
	}

	#selectionBar.paper-tabs {
	 	background-color: #0f97f9;
	}
	
	paper-tabs, paper-toolbar {
    background-color: #072648;
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
	}

	paper-tabs paper-tab.iron-selected {
	  color:  #0f97f9;
	}
	paper-tabs[align-bottom] {
	  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
	}
}
